.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
}

.result-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

.result-item:hover {
  background-color: #eaeaea;
}

.parent-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.information-container {
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
}

.country-name {
  font-size: 30px;
  font-weight: bold;
}

.flag-container {
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
}

.flag {
  font-size: 75px;
  padding: 8px;
}
